<div bank-menu menu-title="Ditbit"></div>
<div id="container" class="container">
    Titolo {{message}}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Modifica</th>
            <th>Tipo Operazione</th>
            <th>Descrizione</th>
            <th>Importo</th>
            <th>Data Operazione</th>
            <th>Data Inserimento</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="movimento in movements | orderBy : 'dataInserimento' : true"
            style="color: {{ movimento.tipoOperazione && movimento.tipoOperazione == 'O' ? '#ac2925' : '#3e8f3e'  }} ">
            <td>{{ movimento.tipoOperazione && movimento.tipoOperazione == 'O' ? 'Uscita': 'Entrata'  }}</td>
            <td>{{ movimento.descrizione }}</td>
            <td>{{ movimento.importo }}</td>
            <td>{{ movimento.dataOperazione | date:'dd/MM/yyyy : hh:mma' }}</td>
            <td>{{ movimento.dataInserimento | date:'dd/MM/yyyy : hh:mma' }}</td>
            <td>
                <a href="#!modificaMovimento/{{movimento._id}}" class="btn btn-success {{ movimento.tipoOperazione && movimento.tipoOperazione == 'O' ? ' red-background' : ' green-background' }}">
                    <span class="glyphicon glyphicon-pencil"> Modifica</span>
                </a>
                <!--<button class="btnEditMovement">
                    <span class="glyphicon glyphicon-pencil"></span>  Modifica
                </button>-->
            </td>
        </tr>
        </tbody>
    </table>
    <hr>
    <a href="#!inserisciMovimento" class="btn btn-success" >
        <span class="glyphicon glyphicon-circle-arrow-right"> Inserisci Movimento</span>
    </a>

</div>