<!--<div bank-menu menu-title="Ditbit"></div>-->
<div id="container" class="container">
    Titolo {{message}}



    <table class="table "> <!-- table-striped-->
        <thead>
        <tr>
            <th>Tipo Operazione</th>
            <th>Descrizione</th>
            <th>Importo</th>
            <th>Data Operazione</th>
            <th>Data Inserimento</th>
            <th/>
            <th/>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="movimento in movements | orderBy : 'dataOperazione' : true"
            class="white"
            ng-class="movimento.tipoOperazione && movimento.tipoOperazione == 'O' ? 'red-background' : 'green-background'">
            <td>{{ movimento.tipoOperazione && movimento.tipoOperazione == 'O' ? 'Uscita': 'Entrata'  }}</td>
            <td>{{ movimento.descrizione }}</td>
            <td class="right-align">{{ movimento.importo | currency : '&#8364; ' : 2}}</td>
            <td>{{ movimento.dataOperazione | date:'dd/MM/yyyy : HH:mm' }}</td>
            <td>{{ movimento.dataInserimento | date:'dd/MM/yyyy : HH:mm' }}</td>
            <td>
                <a href="#!modificaMovimento/{{movimento._id}}" class="btn {{ movimento.tipoOperazione && movimento.tipoOperazione == 'O' ? ' red-background' : ' green-background' }}">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            </td>
            <td>
                <a ng-click="delMovement(movimento._id)"
                   class="btn {{ movimento.tipoOperazione && movimento.tipoOperazione == 'O' ? 'red-background' : 'green-background' }}">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <span class="green bold">Totale Entrate: {{totaleEntrate | currency : ' &#8364;' : 2}}</span>
    <span class="red bold">Totale Uscite: {{totaleUscite | currency : ' &#8364;' : 2}} </span>
    <br/>
    <span class="bold" ng-class="totaleEntrate - totaleUscite >= 0 ? 'green' : 'red'">Differenza: {{totaleEntrate - totaleUscite | currency : ' &#8364;' : 2}}</span>
    <hr>
    <a href="#!inserisciMovimento" class="btn btn-success" >
        <span class="glyphicon glyphicon-plus"></span>
    </a>

</div>