<div id="container" class="container">
    Titolo {{message}}

    <div class="input-group">
        <input type="hidden" class="form-control" placeholder="id"
               aria-describedby="basic-addon1" ng-model="movement._id">
    </div>

    <div class="dropdown">
        <select ng-model="movement.tipoOperazione" class="form-control">
            <option ng-repeat="option in tipiOperazione.elencoOpzioni"
                    ng-selected="option.id === movement.tipoOperazione"
                    value="{{option.id}}">{{option.name}}</option>
            <!--<option value="I">Entrata</option>
            <option value="O">Uscita</option>-->
        </select>
    </div>

    <div class="input-group">
        <input type="text" class="form-control" placeholder="Descrizione"
               aria-describedby="basic-addon1" ng-model="movement.descrizione">
    </div>

    <div class="input-group">
        <div id="datetimeOperazione1" class="input-append date">
            <input type="datetime-local"
                   placeholder="yyyy-MM-ddTHH:mm:ss" ng-model="movement.dataOperazione"/>
            <span class="add-on">
                <i data-time-icon="glyphicon glyphicon-time" data-date-icon="glyphicon glyphicon-calendar"></i>
            </span>
        </div>
    </div>
<!--
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Data e ora operazione"
               aria-describedby="basic-addon1" ng-model="movement.dataOperazione">
    </div>
-->
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">&#8364;</span>
        <input type="text" class="form-control" placeholder="Importo"
               aria-describedby="basic-addon1" ng-model="movement.importo">
    </div>

    <div>
        <button ng-click="addModMovement()">{{message}}</button>
    </div>

    <div>
        <label>{{messageResponse}}</label>
    </div>
</div>